.bgimg{
	background-image: url('img2.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 650px;
}
.headerset{
	padding-top: 350px;
	box-sizing: border-box;
}
.headerset h2{
	font-size: 80px;
}

/*...........................................services............................*/
.ourserves
{
	padding: 100px 0px 30px;
	height: 600px;
}
.rowsetting{
	margin-top: 80px;
}
.imgsetting{
	border-radius: 50%;
	height: 100px;
	width: 100px;
}
.fa-user{
	margin-top: 20px;
}
.fa-briefcase{
	margin-top: 20px;
}
.fa-book{
	margin-top: 20px;
}

/*portpolio........................................*/
.portpolio{
	padding-top: 100px;
}
.card{
	margin-top: 30px;
}

/*our team................................*/
.ourteam{
	padding-top: 100px;
	padding-bottom: 50px;
}
.ourteam .row{
	padding-top: 50px;
}





/*responsive media query................................*/
@media(min-width: 992px){

}

@media(min-width: 768px) and (max-width: 991px){

	.headerset{
	padding-top: 350px;
	font-weight: bold;
}
.headerset h2{
	font-size: 40px;
}

}

@media(min-width:575px) and (max-width: 767px){

	.headerset{
	padding-top: 350px;
	font-weight: bold;
}
.headerset h2{
	font-size: 50px;
}
.ourserves
{
	height: 1200px;
}

}

@media(min-width: 480px) and (max-width: 574px){

	.headerset{
	padding-top: 350px;
	font-weight: bold;
}
.headerset h2{
	font-size: 40px;
}
.ourserves
{
	height: 1200px;
}

}

@media(max-width:497px){


	.headerset{
	padding-top: 350px;
	font-weight: bold;
}
.headerset h2{
	font-size: 40px;
}
.ourserves
{
	height: 1400px;
}


}